.ListAll
{
  display: inline-block;
  min-height: 30px;
  margin: 5px;
  width:100%;
  text-decoration: none;
}

.ListAll h1
{
  margin-left: auto;
}

.Delete
{
  margin-bottom: 20px;
}

.ListLinks
{
  text-decoration: none;
}

.Container
{
  text-align: center;
  font-size: xx-large;
}

.AddList
{
  margin-left: 0;
  width: 100%;
  text-align: left;
}
